.border {
	border: 1px solid black;
}

body {
	background-color: black;
	height: 100%;
}

.column {
	display: none;
	padding: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.column img {
    display:block;
    margin:auto;
}

#main-button { 
    position:absolute;
    top:10%; 
    left:50%;
    font-family: 'Droid Serif', serif;
	font-size: 20px;
}

